.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 40px 100px 40px;
}

.content {
	grid-row-start: 1;
	grid-column: span 8;
	background-color: green;
	height: 100vh;
}

.options {
	grid-column: span 4;
	background-color: red;
	height: 100vh;
}

@media screen and (max-width: 680px) {
	
	.options {
		grid-row: 1;
		grid-column: span 12;
		height: auto;
	}
	
	.content {
		grid-row: 2;
		grid-column: span 12;
		height: auto;
	}
}